framework:
    messenger:
        failure_transport: failed

        transports:
            async:
                dsn: '%env(MESSENGER_TRANSPORT_DSN)%'
                options:
                    stream: messages
                retry_strategy:
                    max_retries: 3
                    delay: 1000
                    multiplier: 2
                    max_delay: 10000

            failed: 'doctrine://default?queue_name=failed'

        routing:
            'App\Application\Message\CalculateScoreMessage': async
            'App\Application\Message\IngestContentMessage': async
